.fixed-bar {
  border-top: 1px solid grey;
  padding: 10px;
  width: 95%;
  margin: auto;
}

.fixed-bar-header {
  margin-top: -20px;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  position: relative;
  margin-left: -50px;
}

.fixed-bar-header h3 {
  position: absolute;
  right: 20px;
  top: 42%;
}

#media-timer {
  font-size: 60px;
}