@media screen and (min-width: 320px){

    .hidden-play-message h4 {
        font-size: 1rem !important;
        color: yellow;
    }

    .hidden-play-message p {
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 768px){
    .hidden-play-message {
        text-align: center;
        width: 40%;
        padding-left: 50px;
    }
}