@media screen and (min-width: 320px){

    .CreateNewThreadForm {
        margin-bottom: 25px;
    }


    .CreateNewThreadForm button {
        border: 1px solid white;
        color: white; 
        background-color: transparent;
        margin-left: 10px;
    }

    .displayedSearch {
        list-style-type: none;
        width: 100%;
    }

    .UL_displayMovies {
        list-style-type: none;
        list-style-position: inside;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .displayedSearch a {
        text-decoration: none;
        color: white;
        text-align: center;
        display: block;
    }

    .displayedSearch a img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .autoFill_form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .autoFill_form img {
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }

    .autoFill_form h2 {
        padding: 10px;
    }
    
    .autoFill_form p {
        padding: 10px;
    }

    .autoFill_form button {
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }

}

@media screen and (min-width: 768px){

    .CreateNewThreadForm {
        margin-bottom: 25px;
    }


    .CreateNewThreadForm button {
        border: 1px solid white;
        color: white; 
        background-color: transparent;
        margin-left: 10px;
    }

    .CreateNewThreadForm button:hover {
        cursor: pointer;
    }

    .UL_displayMovies {
        list-style-type: none;
        list-style-position: inside;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .displayedSearch {
        list-style-type: none;
        width: 20%;
        display: inline-block;
    }

    .displayedSearch a {
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .displayedSearch a img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        width: 175px;
        max-height: 250px;
    }

    .autoFill_form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .autoFill_form img {
        width: initial;
        margin: auto;
        margin-bottom: 10px;
    }

    .autoFill_form h2 {
        padding: 10px;
    }

    .autoFill_form > p {
        width: 40%;
        margin: auto;
    }
    
    .autoFill_form p {
        padding: 10px;
    }

    .autoFill_form button {
        border: 1px solid white;
        background-color: transparent;
        color: white;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        transition: 0.3s ease-in all;
    }

    .autoFill_form button:hover {
        cursor: pointer;
        color: green;
        border: 1px solid green;
    }

}