
.threads-list-container {
    /* margin-top: 20px; */
}

.threads-list {
    background-color: rgba(0,0,0,0.6);
    margin-top: 30px;
}
.threads-list > h3 {
    font-size: 32px;
    color: #00d838;
    background-color: black;
}

.threads-list h4 {
    font-style: italic;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
}

.threads-list h4:hover a {
    color: #00d838;
}

.threads-list h4 a {
    text-decoration: none;
}

@media screen and (min-width: 968px) {
    .threads-list {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 768px){
}