.threads-list {
    background-color: rgba(0,0,0,0.6);
    margin-top: 30px;
}
.threads-list > h3 {
    font-size: 32px;
    color: #00d838;
    background-color: black;
    font-family: 'Fugaz One', cursive;
}

.threads-list h4 {
    font-style: italic;
    text-decoration: none;
}

.threads-list h4:hover a {
    color: #00d838;
}

.threads-list h4 a {
    text-decoration: none;
}

@media screen and (min-width: 768px){
    .threads-list {
        width: 60%;
        margin: 0 auto;
        margin-top: 35px;
    }
}