@media screen and (min-width: 320px){
    #play-button{
    margin: auto;
    margin-top: 20px;
    color: white;
    /* border: 1px solid white; */
    background-color: transparent;
    height: 40px;
    width: 40%;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px){
  #play-button {
    width: 20%;
  }
}