
.sortOptions a:visited {
  color: white !important;
}

.sortOptions a {
  text-decoration: none;
  line-height: 1.0;
}

.sortOptions p:hover {
  color: #00d838;
}

.sortOptions a:hover {
  color: #00d838;
}

.sortOptions a:hover span {
  color: #00d838;
}