.playSlider {
    position: relative;
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

.railStyle {
    position: absolute;
    width: 100%;
    height: 10px;
    margin-top: 35px;
    border-radius: 5px;
    background-color: white;
}

.Handle {
    position: absolute;
    margin-left: -15px;
    margin-top: 25px;
    z-index: 2;
    width: 30px;
    height: 30px;
    border: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #00d838;
    color: #00d838;
}

.play {
    background: none;
}

.fixed-play-button {
    background: none;
    cursor: pointer;
}

.trailer-player > div {
    max-width: 99vw;
    margin: 0 auto;
}


.thread-details {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.4);
}

.play-and-title {
    background-color: black;
    padding-bottom: 10px;
}

.item-poster {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 200px;
}

.thread-details h3 {
    font-size: 32px;
    background-color: black;
    padding: 10px;
    color: #00d838;
}

.thread-details p:nth-child(odd){
    margin-left: auto;
    text-align: right;
    padding: 5px 17px 5px 5px;
    font-size: 13px;
}

.go-back-ten {
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.go-back-ten svg, #display-comment svg {
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

#display-comment {
    cursor: pointer;
}

.item-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.thread-details h4 {
    background-color: black;
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
}

.thread-details .play-and-title span {
    font-size: 14px;
}

@media screen and (min-width: 768px){

    .thread-details {
        flex: 1;
        margin-right: 25px;
    }

    .trailer-player > div {
        max-width: 45vw;
        margin: 0 auto;
    }
}