.thread-details {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.6);
    /* background-color: turquoise; */
}

.thread-details h3 {
    font-size: 32px;
    background-color: black;
    padding: 10px;
    color: #00d838;
}

.thread-details p:nth-child(odd){
    margin-left: auto;
    text-align: right;
    padding: 5px 17px 5px 5px;
    font-size: 13px;
}

@media screen and (min-width: 768px){
    .thread-details {
        width: 50%;
        margin: initial;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-left: 30px;
        text-align: left;
        /* background-color: turquoise; */
    }

    .thread-details h3 {
        font-size: 48px;
        padding: initial;
    }

    .thread-details p:nth-child(even){
        padding: 5px 17px 5px 5px;
        font-size: 16px;
    }

    .thread-details p:nth-child(odd){
        margin-left: auto;
        text-align: right;
        padding: 5px 50px 5px 5px;
        font-size: 13px;
    }
}