.Happenings {
    margin-top: 20px;
    flex: 1;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
    .Happenings h3 {
        font-size: 28px;
        background-color: black;
    }

    .happening-label {
        font-weight: bold;
    }

.Happenings li:hover {
    background-color: #00d838;
    color: black;
}

.Happenings li:hover a {
    color: black;
}


@media screen and (min-width: 768px){

    .Happenings h3 {
        padding: 15px;
    }

    .Happenings ul {
        list-style-type: none;
        /* display: flex;
        flex-direction: row;
        justify-content: space-evenly; */
        width: 60%;
        min-height: 200px;
        border: 1px solid grey;
        transform: translateX(35%);

    }

    .Happenings ul li {
        list-style-type: none;
        /* background-color: yellow; */
        /* border: 1px solid yellow; */
        /* height: 175px; */
        /* width: 30%; */
        text-align: center;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }

}