.LoginButton a {
    color: white;
    text-decoration: none;
}

.LoginButton a:visited {
    color: white;
    text-decoration: none;
}

.LoginButton button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    color: white;
    font-weight: bold;
}

.LoginButton button:hover {
    cursor: pointer;
}

#logout_button {
    display: flex;
}
#logout_button span {
    font-weight: normal;
    padding-left: 5px;
}