    .LoginButton .mobile-login {
        background: none;
        border: none;
        padding: 5px;
        margin: 0px;
        font-size: 16px;
        color: white;
        font-weight: 700;
        cursor: pointer;
    }
    
    .LoginButton .header-login {
        text-align: right;
        position: absolute;
        top: 90px;
        right: 20px;
    }

    .LoginButton a {
        color: white;
        text-decoration: none;
    }

    .LoginButton a:visited {
        color: white;
        text-decoration: none;
    }

    .mobile-login {
        margin: 5px;
        display: block;
    }

@media screen and (min-width: 768px){

    .LoginButton .header-login {
        right: 40px;
    }
    #logout_button {
        position: absolute;
        top: -125px;
        right: 40px;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 16px;
    }

    #logout_button:hover {
        text-decoration: underline;
        cursor: pointer;
    }

}

@media screen and (min-width: 968px){
    .LoginButton .header-login {
        right: 100px;
    }
}