.Directory {
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
}

.Directory .SearchBar {
    margin: 10px 0px 15px 0px;
}

.Directory a {
    text-decoration: none;
}

.Directory a:hover {
    color: #00d838;
}

.directory-box {
    margin: 0px;
    padding: 0px;
}

.Directory h3 {
    margin: 0px;
    padding: 0px;
}

.directory-dropdown {
    padding: 10px;
}