.SearchBar {
    margin: 20px 0px 10px 0px;
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
}

.SearchBar input {
    flex: 1;
    padding: 5px;
    border: none;
    text-align: left;
}

.SearchBar .search-icon {
     padding: 5px;
     background-color: white;
     border: none;
}

.SearchBar .search-icon img {
    width: 20px;
    height: 20px;
    border: none;
}


@media screen and (min-width: 768px){
    .SearchBar {
      width: 30%;
    }
  }