.Header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #34D214;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 60px;
}

.Header a { 
    color: white;
    text-decoration: none;
}

.Header h1 span { 
    display: block;
}


@media screen and (min-width:768px){

    .Header h1 span {
        display: inline-block;
    }
}