@media screen and (min-width: 320px){
    .scrub-bar {
    height: 25px;
    background-color: hsl(84, 60%, 45%);
  }
}

@media screen and (min-width: 768px){
  .scrub-bar {
    height: 50px;
    background-color: rgb(182, 152, 251);
    min-width: 300px;
    width: 100%;
    max-width: 650px;
    margin-top: 10px;
  }
}