@media screen and (min-width: 320px){
    .thread-item {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    background-color: hsl(84, 60%, 45%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  .thread-item a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: 25px;
  }

  .thread-item a:visited {
    color: white;
    text-decoration: none;
  }

  .thread-item a > img {
    position: absolute;
    height: 150px;
    width: 40%;
    object-fit: cover;
    min-height: 200px;
    left: 0px;
    top: 0px;
  }

  #play-button_home {
    position: absolute;
    bottom: -40px;
    right: 5px;
    width: 40px;
    height: 130px;
    border: none !important;
    border: none;
  }
}

@media screen and (min-width: 768px){
  .thread-item {
    width: 95%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    background-color: hsl(84, 60%, 45%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  .thread-item:hover {
    background-color: hsl(84, 95%, 25%);
    cursor: pointer;
  }

  .thread-item a {
    /* background-color: lightcoral; */
    color: white;
    text-decoration: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 10px;
    width: auto;
    margin-left: 40%;
    margin-right: auto;
  }

  .thread-item a h3 {
    font-size: 40px;
  }

  .thread-item a > p {
    font-size: 20px;
  }

  .thread-item a > img {
    position: absolute;
    width: 40%;
    height: auto;
    min-height: 300px;
    border-radius: initial;
    top: 0px;
    left: 0px;
    transform: translateY(-45px);
  }

  #play-button_home {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 10%;
    height: 130px;
    border: none !important;
    border: none;
  }

  #last_comment {
    margin-top: 125px;
  }

}