@media screen and (min-width: 320px){

    .scrub-box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

}

@media screen and (min-width: 768px){

  .scrub-box {
    height: 100px;
    padding: 10px;
    padding-left: 50px;
    text-align: left;
    margin-right: auto;
    width: 40%;
  }

  .scrub-box button {
    
  }
}