@media screen and (min-width: 320px){

    .Login {
        border: none;
    }

    .Login label {
        display: none;
    }

    #email-label {
        display: none;
    }

    #email-input {
        margin-top: 10px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid grey;
        border-radius: 3px;
        text-align: left;
        padding-left: 10px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
}


@media screen and (min-width: 768px){

    #email-input {
        margin-top: 10px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid grey;
        border-radius: 3px;
        text-align: left;
        padding-left: 10px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    #reg_button:hover {
        content: '>>>';
        color: rgb(0, 140, 255);
        border: 1px solid rgb(0, 140, 255);
        animation-name: slider;
        animation-duration: 0.5s;
        width: 250px;
        transition: all 0.5s;
    }

}

@keyframes slider {
    0% {
      width: 215px;
    }
  
    50% {
      width: 235px;
    }
  
    100% {
      width: 250px;
    }
  }

/* Mobile && Desktop view is ready */