@media screen and (min-width: 320px){
  .Login {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    justify-content: center;
    padding: 2em;
    color: white;
  }
  
  .Login legend {
    font-size: 30px;
  }
  
  .Login button {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  #username-label, #password-label {
    display: none;
  }
  
  #username-input, #password-input {
    margin-top: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    border-radius: 3px;
    text-align: left;
    padding-left: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  
  #password-input {
    margin-bottom: 10px;
  }
}