.HomePage {
    padding-bottom: 20px;
}

@media screen and (min-width: 768px){

    .home_eventBar {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        height: 270px;
    }

    .home_eventBar > div {
        width: 25%;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .home_eventBar > section {
        width: 75%;
    }

    /* WHEN USER IS SIGNED UP */

    .signedIn_home {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        height: 270px;
    }

    .signedIn_home > section {
        width: 100%;
    }

    .signedIn_home > div {
        width: 100px;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
    }

}