body {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  transition: 0.5s;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.black-button {
  border: 1px solid white;
  background: black;
  color: white;
  padding: 5px;
}

.black-button:hover {
  background-color: #00d838;
  color: black;
  cursor: pointer;
}

.play-button {
  border: 1px solid white;
  background-color: #00d838;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
}

ul {
  list-style: none;
}
a {
  color: white;
}

.signature-green {
  color: #00d838;
  font-family: 'Roboto Condensed', sans-serif;
}

.width70percent {
  width: 70%;
  margin: 0 auto;
}
#root {
  background: rgba(0,0,0,0.5);
  min-height: 100vh;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.margin10 { 
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.App {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.black-bg {
  background: black;
  padding: 5px;
}
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .footer {
    margin-top: 220px;
    z-index: 0;
    width: 100%;
    display: block;
    background: rgba(255,255,255,0.1);
    text-align: center;
    color: white;
  }

@media screen and (min-width: 768px){

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .desktop-column {
    flex-direction: column;
  }

  .desktop-row {
    flex-direction: row;
  }

  .mobile.hide {
    display: block;
  }

  .mobile-hide {
    display: block;
  }

  .tablet-hide {
    display: none;
  }

}