body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.App {
  text-align: center;
}
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

@media screen and (min-width: 768px){

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .desktop-column {
    flex-direction: column;
  }

  .desktop-row {
    flex-direction: row;
  }
  
  .mobile.hide {
    display: block;
  }
}