@media screen and (min-width: 320px){
    .ThreadRoute {
        min-height: 105vh;
        background-color: rgb(8, 8, 8);
        color: white;
    }

    .ThreadRoute main > button {
        width: 40%;
        height: 40px;
        border: 1px solid white;
        background-color: transparent;
        font-weight: bold;
        color: white;
    }

    .ThreadRoute > main {
        padding-bottom: 35vh;
    }

    .ThreadRoute > main h4 {
        font-size: 32px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px){
    
}