.playSlider {
    position: relative;
    width: 50%;
    height: 80px;
    margin: 30px;
}

.railStyle {
    position: absolute;
    width: 100%;
    height: 10px;
    margin-top: 35px;
    border-radius: 5px;
    background-color: #8B9CB6;
}

.Handle {
    position: absolute;
    margin-left: -15px;
    margin-top: 25px;
    z-index: 2;
    width: 30px;
    height: 30px;
    border: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #2C4870;
    color: #fff;
}

@media screen and (min-width: 320px){
    #display-comment {
        background-color: green;
    }

    .ThreadRoute {
        min-height: 105vh;
        background-color: rgb(8, 8, 8);
        color: white;
    }

    .ThreadRoute main > button {
        width: 40%;
        height: 40px;
        border: 1px solid white;
        background-color: transparent;
        font-weight: bold;
        color: white;
    }

    .ThreadRoute > main {
        padding-bottom: 35vh;
    }

    .ThreadRoute > main h4 {
        font-size: 32px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px){

    .ThreadRoute > main > button {
        display: block;
        margin-left: 50px;
        width: 35%;
        max-width: 650px;
        min-width: 300px;
        height: 30px;
        text-align: center;
        border: none;
    }

    .ThreadRoute > main > button:hover {
        cursor: pointer;
    }

    .ThreadRoute > main > h4 {
        text-align: center;
        width: 40%;
        padding-left: 50px;
    }
}